:root {
  --color1: #001219;
  --color2: #005f73;
  --color3: #0a9396;
  --color4: #94d2bd;
  --color5: #e9d8a6;
  --color6: #ee9b00;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #bb3e03;
  --color10: #ae2012;
  --color11: #ae2012;
}
body {
  background-image: linear-gradient(45deg, var(--color1), #231942);
}
h1 {
  color: var(--color5);
}
p {
  color: var(--color6);
}

.features-display {
  margin-top: 450px !important;
  margin: 100px;
}
.feature {
  margin-top: 45px;
}
@media (max-width: 425px) {
  .features-display {
    margin: 15px;
  }
}
.navbar-custom {
  background-image: linear-gradient(65deg, var(--color4), var(--color5));
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.clippy {
  filter: invert(81%) sepia(37%) saturate(276%) hue-rotate(1deg)
    brightness(107%) contrast(83%);
}
a {
  text-decoration: none !important;
  transition: all 1s ease-in-out;
}
a:hover {
  color: var(--color6) !important;
}
